@tailwind base;
@tailwind components;
@tailwind utilities;
.App {
  font-family: sans-serif;
  text-align: center;
}

.loader .ant-modal-content {
  display: contents !important;
}
.loader .ant-modal-body {
   display: flex !important;
   justify-content: center !important;
 }
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.card-product {
  margin-top: 20px;
}
.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button-back {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.product-list {
  margin-top: 20px;
  font-size: 20px;
}
th {
  text-align: center !important;
}
.product-table {
  padding: 0 40px;
}
.view-detail {
  cursor: pointer;
}